<footer class="foot">
    <section><a [routerLink]="['home']" class="logo">G U B S</a></section>
    <section class="list">
        <a [routerLink]="['home']">Manifesto</a>
        <a [routerLink]="['home']">Roadmap</a>
        <a [routerLink]="['home']">Our culture</a>
    </section>
    <section class="list-2">
        <a [routerLink]="['home']">Conspiracies</a>
        <a [routerLink]="['home']">Wholesalers Application</a>
        <a [routerLink]="['home']">Contact Us</a>
    </section>
</footer>
<span class="contact"></span>
<span class="pol">
  <a [routerLink]="['home']">Privacy Policy</a>
  <a [routerLink]="['home']">Terms & Conditions</a>
</span>
