.notes {
    height: 700px;
    width: 100%;
    overflow: hidden;
    display: grid;
    background-color: #1071e5;
    // background-color: black;
    grid-template-rows: 1fr 100px;
}

// .con-cuchara {
//     height: 100%;
//     width: 100%;
//     display: grid;
//     grid-template-columns: 1fr 2fr;
//     grid-template-rows: 100px 1fr 100px;
//     align-items: center;
//     justify-items: center;
// }
.img--detalle {
    height: 525px;
}

.ful {
    width: 1000px;
    height: 550px;
}

//////TEXTO
.reference {
    height: 150px;
    width: 100%;
    position: relative;
}

.manifesto {
    width: 300%;
    position: absolute;
    font-size: 200px;
    top: -90px;
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
    color: white;
    animation-name: MT1;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes MT1 {
    0% {
        left: 0px;
    }
    100% {
        left: -1738px;
    }
}
