.challenge {
    height: 500px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}

.bag {
    position: absolute;
    height: 600px;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.bag-img {
    animation-name: move-bag;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.img-bgrnd {
    position: absolute;
    width: 100%;
    z-index: -1;
}

.mov-text {
    display: grid;
    grid-template-rows: repeat(1fr, 4);
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.text-1 {
    position: absolute;
    width: 4000px;
    font-size: 140px;
    font-weight: 800;
    line-height: 100px;
    color: #ff66c4;
    animation-name: move-text-1;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.text-2 {
    position: absolute;
    width: 4000px;
    font-size: 140px;
    font-weight: 800;
    line-height: 100px;
    color: #8c52ff;
    animation-name: move-text-2;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.anti-text-1 {
    position: absolute;
    width: 4000px;
    font-size: 140px;
    line-height: 100px;
    color: #cb6ce6;
    font-weight: 800;
    animation-name: move-text-3;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
}

.anti-text-2 {
    position: absolute;
    width: 4000px;
    font-size: 140px;
    line-height: 100px;
    color: #3866ff;
    font-weight: 800;
    animation-name: move-text-4;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
}

.rel-box {
    position: relative;
}

.rigth-text {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: darkturquoise;
    align-items: center;
    .p-text {
        width: 250px;
        line-height: 30px;
        font-size: 20px;
        text-align: right;
        font-family: Raleway;
        text-justify: distribute;
    }
}

.title {
    font-family: Raleway;
    font-size: 50px;
    font-weight: bold;
    color: white;
    line-height: 75px;
}

.sub-title {
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: Raleway;
}

@keyframes move-text-1 {
    0% {
        left: 0px;
    }
    100% {
        left: -1965px;
    }
}

@keyframes move-text-2 {
    0% {
        left: 0px;
    }
    100% {
        left: -1755px;
    }
}

@keyframes move-text-3 {
    0% {
        left: 0px;
    }
    100% {
        left: -1435px;
    }
}

@keyframes move-text-4 {
    0% {
        left: 0px;
    }
    100% {
        left: -1220px;
    }
}

@keyframes move-bag {
    0% {
        transform: rotate(20deg);
        height: 400px;
    }
    20% {
        transform: rotate(-20deg);
        height: 450px;
    }
    40% {
        transform: rotate(20deg);
        height: 500px;
    }
    60% {
        transform: rotate(-10deg);
        height: 450px;
    }
    80% {
        transform: rotate(0deg);
        height: 300px;
    }
    100% {
        transform: rotate(20deg);
        height: 400px;
    }
}
